[submodule "src/SUPIR"]
	path = src/SUPIR
	url = https://github.com/Fanghua-Yu/SUPIR
[submodule "src/MultiScaler-Plus_Web_Server"]
	path = src/MultiScaler-Plus_Web_Server
	url = https://github.com/MikiP98/MultiScaler-Plus_Web_Server
[submodule "src/Edge_Directed_Interpolation"]
	path = src/Edge_Directed_Interpolation
	url = https://github.com/Kirstihly/Edge-Directed_Interpolation