[flake8]
exclude =
    .git,
    __pycache__,
    docs/source/conf.py,
    old,
    SUPIR,
    Edge_Directed_Interpolation,
    MultiScaler-Plus_Web_Server,
    benchmarks.py

per-file-ignores =
    # imported but unused
    __init__.py: F401
    standalone.py: F401
    loader.py: F401

max-line-length = 120
