argparse
coverage
fastapi
hqx
numpy
opencv-contrib-python
pillow
psutil
pyanime4k
python-multipart
termcolor
torch
uvicorn[standard]

setuptools
wheel

matplotlib

git+https://github.com/sberbank-ai/Real-ESRGAN.git
prebuild_wheels/xbrz.py-1.0.2-cp312-cp312-win_amd64.whl
prebuild_wheels/py_super_xbr-0.0.2-cp312-cp312-win_amd64.whl