fastapi
torch
uvicorn[standard]
pillow
python-multipart
numpy
git+https://github.com/sberbank-ai/Real-ESRGAN.git
xbrz_wheel/xbrz.py-1.0.2-cp312-cp312-win_amd64.whl


fastapi
gradio
gradio_imageslider
gradio_client
Markdown

requests
sentencepiece
tokenizers
torch
torchvision
uvicorn
wandb
httpx
transformers==4.31.0
accelerate
scikit-learn
sentencepiece
einops
einops-exts
timm
openai-clip
fsspec
kornia
matplotlib
ninja
omegaconf
open-clip-torch
opencv-python
pandas

pytorch-lightning
PyYAML
scipy
tqdm



urllib3
webdataset

xformers

facexlib
k-diffusion
diffusers